SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="Logitech G502 X LS", ATTRS{uniq}=="60-e6-1a-1f", SYMLINK+="input/pttd-mouse", TAG+="uaccess"
SUBSYSTEM=="input", KERNEL=="event*", ATTRS{name}=="AT Translated Set 2 keyboard", ATTRS{phys}=="isa0060/serio0/input0", SYMLINK+="input/pttd-keyboard", TAG+="uaccess"
